<%= form_for(@nadaserf) do |f| %>
  <% if @nadaserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nadaserf.errors.count, "error") %> prohibited this nadaserf from being saved:</h2>

      <ul>
      <% @nadaserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ad_source_connection_id %><br>
    <%= f.number_field :ad_source_connection_id %>
  </div>
  <div class="field">
    <%= f.label :impressions %><br>
    <%= f.number_field :impressions %>
  </div>
  <div class="field">
    <%= f.label :revenue %><br>
    <%= f.text_field :revenue %>
  </div>
  <div class="field">
    <%= f.label :revenue_ecpm %><br>
    <%= f.text_field :revenue_ecpm %>
  </div>
  <div class="field">
    <%= f.label :bid %><br>
    <%= f.number_field :bid %>
  </div>
  <div class="field">
    <%= f.label :bid_rate %><br>
    <%= f.text_field :bid_rate %>
  </div>
  <div class="field">
    <%= f.label :start_timestamp %><br>
    <%= f.datetime_select :start_timestamp %>
  </div>
  <div class="field">
    <%= f.label :end_timestamp %><br>
    <%= f.datetime_select :end_timestamp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
