<p id="notice"><%= notice %></p>

<h1>Listing Nadaserves</h1>

<table>
  <thead>
    <tr>
      <th>Ad source connection</th>
      <th>Impressions</th>
      <th>Revenue</th>
      <th>Revenue ecpm</th>
      <th>Bid</th>
      <th>Bid rate</th>
      <th>Run start timestamp</th>
      <th>Run end timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nadaserves.each do |nadaserf| %>
      <tr>
        <td><%= nadaserf.ad_source_connection_id %></td>
        <td><%= nadaserf.impressions %></td>
        <td><%= nadaserf.revenue %></td>
        <td><%= nadaserf.revenue_ecpm %></td>
        <td><%= nadaserf.bid %></td>
        <td><%= nadaserf.bid_rate %></td>
        <td><%= nadaserf.run_start_timestamp %></td>
        <td><%= nadaserf.run_end_timestamp %></td>
        <td><%= link_to 'Show', nadaserf %></td>
        <td><%= link_to 'Edit', edit_nadaserf_path(nadaserf) %></td>
        <td><%= link_to 'Destroy', nadaserf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nadaserve', new_nadaserf_path %>
