<p id="notice"><%= notice %></p>

<h1>Listing Testobjects</h1>

<table>
  <thead>
    <tr>
      <th>Ad source connection</th>
      <th>Impressions</th>
      <th>Revenue</th>
      <th>Revenue ecpm</th>
      <th>Bid</th>
      <th>Bid rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testobjects.each do |testobject| %>
      <tr>
        <td><%= testobject.ad_source_connection_id %></td>
        <td><%= testobject.impressions %></td>
        <td><%= testobject.revenue %></td>
        <td><%= testobject.revenue_ecpm %></td>
        <td><%= testobject.bid %></td>
        <td><%= testobject.bid_rate %></td>
        <td><%= link_to 'Show', testobject %></td>
        <td><%= link_to 'Edit', edit_testobject_path(testobject) %></td>
        <td><%= link_to 'Destroy', testobject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testobject', new_testobject_path %>
